#Register-section {
    height: 100%;
    width: 100%;
    margin: 5% auto;
}

.section-box {
    width: 60%;
    height: 100%;
    margin: 30px auto;
}

#Register-section-top {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Register-section-top h1 {
    color: #4B5966;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

#Register-section-top p {
    color: #4B5966;
    font-size: 16px;
    font-weight: 400;
}

#Register-form {
    height: 70%;
    margin-top: 5%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #4b59663d;
    padding: 20px;
    
}

.Register-form-top {
    height: 50%;
    width: 100%;
    display: flex;
}

.Register-form-top-left {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.Register-form-top-right {
    width: 50%;
    height: 100%;
    padding: 10px;
}

label {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    color: #4B5966;
    margin-bottom: 10px;
}

label::after {
    content: "*";
    color: red;
}

input {
    height: 12%;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #4b5966b4;
    border-radius: 8px;
    outline: none;
    margin-bottom: 3px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #5CAF90;
}

select {
    height: 12%;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #4b5966b4;
    border-radius: 8px;
    color: #4B5966;
    outline: none;
    margin-bottom: 5px;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #5CAF90;
}

option {
    color: #4B5966;
}

.Rfb-top {
    height: 15%;
    width: 100%;
    padding: 10px;
}

.Rfb-bottum {
    width: 100%;
    padding: 10px;
    display: flex;
    height: 40%;
}

.Rfbb-left {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.Rfbb-right {
    width: 50%;
    padding: 10px;
    height: 100%;
}

.button-box {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5CAF90;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-box button:hover {
    background-color: #4B5966;
}
